*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

html{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
html,body, #main, .login-form{
    height:100%;
    width :100%
}

.job-container{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #212121;
    height:90%;
}

.form-control{
    border: 5px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #2f2f2f;
    width: 90%;
    color: #FFFFFF;
}

.login-form{
    margin:25%;
    background-color: #292929;
    border-radius: 5px;
    margin-top: 25px;
    height: fit-content;
    padding-bottom: 30px;;
}

.box{
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: left;
    color: #FFFFFF;
}

.login-label{
    margin-left: 20px;
    margin-right: 20px;
}

h2{
    font-size: 14px;
    font-weight: 900;
    color: #FFFFFF
}

h3{
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF
}

.title{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFFFFF;
    font-weight: 500;
}

.manager-information-container{
    display: flex;
    justify-content: center;
}

.job-information-container{
    padding-left: 30px;
    padding-right:30px;
    display: flex;
    justify-content: space-between;
}
.job-state{
    display: flex;
    align-items: row;
}
.in-progress {
	color: #F2C94C;
	opacity: 80%;
}
.complete {
	color: #6FCF97;
	opacity: 65%;
}
.task-header{
    padding-left: 30px;
    display: flex;
    justify-content: left;
}

.task-container{
    padding:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.task-bank-container {
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
	height: 30%;
	background-color: #121212;
	border: 1px solid grey;
    border-radius: 3px;
    overflow-y:scroll;
}

li{
	display: flex;
    align-items: center;
    justify-content: space-between;
	height: 47px;
	background-color: #212121;
	border-radius: 5px;
	margin-top: 5px;
	width: 99.5%;
	margin: auto;
}

.default-button{
    background-color: #6CBBB3;
    border: none;
    color: #000000;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    display: flex;
    margin:auto;
    align-items: l;
    margin-bottom: 20px;
    align-items: center;
}

.default-button:disabled{
    visibility: hidden;
}

.button-text{
    font-weight: 500;
}

.change-job-status{
    display:flex;
    justify-content: space-between;
    align-items: row;
}
.status {
	color: #FFFFFF;
	opacity: 80%;
}


.remove-button{
    background-color: #660000;
    border: none;
    color: #FFFFFF;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: 4px;
    cursor: pointer;
    border-radius: 25px;
    display: flex;
    margin-bottom: 5px;
    margin: right;
    float: right;
    align-items: center;
    margin-left: 20px;
}

.task-bank-check{
    display: flex;
    justify-content: row;
    align-items:center;
}

.task-bank-task{
    padding:10px;
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 10px;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  .container input:checked ~ .checkmark {
    background-color: #6CBBB3;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .state{
      display: flex;
      align-items: center;
  }

  .job-task-status{
      color:#FFFFFF;
  }