<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/archivedjob.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

    <title>Archived Jobs</title>
</head>
<body>
<div id="main">
    <div class="nav-container">
        <div class="nav-left">
            <button class="openbtn" onclick="openNav()">☰</button>
            <div><img th:src="@{/img/car.svg}"></div>
            <div class="dash-text">Dashboard</div>
        </div>
        <div class="nav-right">
            <div class="garage-text" >GarageBand</div>
        </div>
    </div>
    <div class="content-area">
        <h1 class="title">Archive Job</h1>
        <div class="job-bank_container">
            <ul>
                <li th:each="job: ${jobs}">
                    <a style="text-decoration:none; display: flex;" th:href="@{/home/job/} + ${job.vin}">
                        <span><img th:src="@{/img/white-plus.svg}"></span>
                        <span class="job-bank_task" th:text="${job.vin + ' - ' + job.customer}"></span>
                    </a>
                    <span class="job-bank_task-status finished">Archived</span>

                </li>
            </ul>
        </div>
    </div>
</div>

<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <div class="side-bar-nav">
        <img onclick="growDiv();" th:src="@{/img/cardot.svg}">
        <a onclick="growDiv();" href="#" class="selected">Job Management</a>
        <img class="chevron" onclick="growDiv();" th:src="@{/img/downarrow.svg}">
    </div>
    <div class="job-management_nav" id="grow">
        <div>
            <img th:src="@{/img/creating-job.svg}">
            <a th:href="@{/home/job/createjob}">Create Job</a>
        </div>
        <div class="">
            <img th:src="@{/img/job-bank.svg}">
            <a onclick="growJobBank();" href="#">Job Bank</a>
            <img onclick="growJobBank();" class="job-bank_chevron" th:src="@{/img/downarrow.svg}">
        </div>
        <div class="job-management_create-job_taskbank" id="grow_taskbank">
            <div>
                <img th:src="@{/img/magnifying.svg}">
                <a th:href="@{/home/job/jobbank}">Job Bank</a>
            </div>
        </div>
        <div>
            <img th:src="@{/img/checkout.svg}">
            <a th:href="@{/home/job/checkout}">Checkout Job</a>
        </div>
    </div>
    <div class="side-bar-nav">
        <img th:src="@{/img/archived.svg}">
        <a th:href="@{/home/job/archivedjobs}">Archived Jobs</a>
    
    </div>
    <div class="side-bar-nav">
        <img th:src="@{/img/schedule.svg}">
        <a href="#">Schedule</a>
    
    </div>
    <div class="side-bar-nav">
        <img th:src="@{/img/creating-customer.svg}">
        <a href="#">Creating Customer</a>
    
    </div>
    <div class="side-bar-nav">
        <img th:src="@{/img/logout.svg}" height="24px">
        <a th:href="@{/logout}">Sign out</a>
    </div>
</div>


<script>
function openNav() {
  document.getElementById("mySidebar").style.width = "350px";
  document.getElementById("main").style.marginLeft = "350px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}

function growDiv() {
    var growDiv = document.querySelector(".job-management_nav");
    var chevron = document.querySelector(".chevron");
    if(growDiv.style.height == "" || growDiv.style.height == "0px"){
    	growDiv.style.height = "144px";
    	chevron.classList.add("selected");
    } else {
    	growDiv.style.height = "0px";
    	chevron.classList.remove("selected");
    }
}

function growJobBank(){
    var growDiv = document.querySelector(".job-management_create-job_taskbank");
    var growDivParent = document.querySelector(".job-management_nav");

    var chevron = document.querySelector(".job-bank_chevron");
    if(growDiv.style.height == "" || growDiv.style.height == "0px"){
    	growDiv.style.height = "96px";
    	growDivParent.style.height = "240px";
    	chevron.classList.add("selected");
    } else {
    	growDiv.style.height = "0px";
    	growDivParent.style.height = "144px";
    	chevron.classList.remove("selected");
    }

}
</script><script>
function openNav() {
  document.getElementById("mySidebar").style.width = "350px";
  document.getElementById("main").style.marginLeft = "350px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}

function growDiv() {
    var growDiv = document.querySelector(".job-management_nav");
    var chevron = document.querySelector(".chevron");
    if(growDiv.style.height == "" || growDiv.style.height == "0px"){
      growDiv.style.height = "144px";
      chevron.classList.add("selected");
    } else {
      growDiv.style.height = "0px";
      chevron.classList.remove("selected");
    }
}

function growJobBank(){
    var growDiv = document.querySelector(".job-management_create-job_taskbank");
    var growDivParent = document.querySelector(".job-management_nav");

    var chevron = document.querySelector(".job-bank_chevron");
    if(growDiv.style.height == "" || growDiv.style.height == "0px"){
      growDiv.style.height = "48px";
      growDivParent.style.height = "198px";
      chevron.classList.add("selected");
    } else {
      growDiv.style.height = "0px";
      growDivParent.style.height = "144px";
      chevron.classList.remove("selected");
    }

}
</script>

</body>
</html>
